/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra de navegación */
nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.activo{
    border-bottom: 5px solid white;
}

nav ul li a:hover{
    color: orange;    
}

nav ul li a.activo:hover{
    border-bottom: 5px solid orange;
}



/* Header y logo */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    border-radius: 50%;
}

@media (max-width:500px){
    nav ul{
        font-size: 1rem;
    }
}